# 문제풀이 Overview
이번 문제풀이에서는 총 4개의 문제를 풉니다.    
문제를 본격적으로 풀기 전에 아래 코드를 실행해 pandas 라이브러리를 임포트하고 데이터를 읽어와주세요.

In [ ]:
import pandas as pd

In [ ]:
match_results = pd.read_csv('https://raw.githubusercontent.com/datarian-kr/pandas/main/data/volleyball_olympics2020_20210731/jpn-kor_match_results.csv')
kor_team = pd.read_csv('https://raw.githubusercontent.com/datarian-kr/pandas/main/data/volleyball_olympics2020_20210731/kor_team_rosters.csv')

# 데이터 설명

`match_results`는 올 여름에 열린 도쿄 하계올림픽 2020의 여자배구 경기 중 2021-07-31에 진행된 한일전의 결과 데이터입니다.

**컬럼 상세**
- set: 1~5세트
- japan: 일본 스코어
- korea: 한국 스코어
- playing_time: 세트 진행 시간(분)

`kor_team`은 도쿄 하계올림픽 2020에 출전한 여자배구 한국 팀의 멤버(선수, 코칭스태프) 프로필 데이터입니다.

**컬럼 상세**
- player_no: 선수 유니폼 번호 (선수가 아닌 경우 null)
- player_name: 이름
- shirt_name: 선수 유니폼에 명시된 이름 (선수가 아닌 경우 null)
- position: 포지션
- hand: 사용하는 손 (선수가 아닌 경우 null)
- height: 신장 cm (선수가 아닌 경우 null)
- highest_reach_spike: 스파이크 높이 최고 기록 cm (선수가 아닌 경우 null)
- highest_reach_block: 블로킹 높이 최고 기록 cm (선수가 아닌 경우 null)
- date_of_birth: 선수 생년월일 (선수가 아닌 경우 null)

# 데이터 미리보기

In [ ]:
# match_results

In [ ]:
# kor_team

# Q1. 승리 팀 찾기
배구는 5판 3선승제 입니다. 먼저 3개 세트를 가져온 팀이 최종으로 승리합니다.

한국과 일본 중 어떤 팀이 몇 세트를 가져와서 최종 승리했을까요?   
- Step 1. 한국이 더 많은 점수를 낸 세트의 데이터(행)만 가져오기    
- Step 2. 이 중에서 세트의 번호('set' 컬럼 값)만 출력하기

In [ ]:
# step 1
match_results[match_results['korea'] > match_results['japan']]

   set  japan  korea  playing_time
0    1     19     25            29
2    3     22     25            31
4    5     14     16            24

In [ ]:
# step 2
match_results.loc[match_results['korea'] > match_results['japan'], 'set']

0    1
2    3
4    5
Name: set, dtype: int64

### 질문

* 질문: 한일전은 총 몇 세트의 경기가 진행되었나요? 그 중에 한국이 일본을 이긴 세트는 몇 세트인가요? 최종 스코어를 알려주세요.
* 답변: 한국이 1, 3, 5세트, 총 3개의 세트에서 일본보다 더 많은 점수를 득점해서 최종 스코어 3:2로 승리를 거뒀습니다.

# Q2. 선수들이 가장 오래 뛴 세트 찾기
두 팀이 번갈아가며 1세트씩 주고 받는 바람에 경기가 5세트까지 모두 진행됐습니다. '풀세트를 뛰었다'라고도 합니다.

선수들이 무척 힘들었을 것 같은데요. 그 중에서도 시간상으로 가장 오래 진행된 세트는 몇 세트인가요?
- Step 1. 가장 오래 진행된 세트의 경기 시간을 'longest' 변수에 저장 `(Hint: 섹션1 '판다스 연산 맛보기' 강의를 떠올려 보세요.)`
- Step 2. 위 경기 시간에 해당하는 세트의 데이터 가져오기

In [ ]:
# step 1
longest = match_results['playing_time'].max()

In [ ]:
# step 2
match_results[match_results['playing_time'] == longest]

   set  japan  korea  playing_time
2    3     22     25            31

### 질문
* 질문: 시간 상으로 가장 오래 뛴 세트는 몇 세트인가요? 해당 세트에 경기는 몇 분 진행되었나요?
* 답변: 3세트이며, 31분 경기가 진행되었습니다.

# Q3. 코칭 스태프에게 0번 유니폼을!
유니폼에 쓰이는 번호는 선수에게만 부여됩니다.    
번호가 없는 코칭 스태프 3명에게 0번 유니폼을 선물해 볼까요?    
- Step 1. 유니폼 번호(player_no) 컬럼에 값이 없는 데이터 찾기
- Step 2. 이 인덱스를 사용해 player_no 컬럼 값을 0으로 수정

In [ ]:
# step 1
kor_team[kor_team['player_no'].isna()]

    player_no  ... date_of_birth
12        NaN  ...           NaN
13        NaN  ...           NaN
14        NaN  ...           NaN

[3 rows x 9 columns]

In [ ]:
# step 2
kor_team.loc[kor_team['player_no'].isna(), 'player_no'] = 0

# Q4. 선수 프로필 데이터 만들기
코칭 스태프 데이터를 제외하고 선수 데이터만 가져와 `kor_player`라는 이름의 테이블을 생성해 주세요.
- Step 1. 선수 데이터만 추출하여 변수 `kor_player`에 저장하기 (방법은 다양합니다! 어떤 방법을 사용해도 좋아요.)

In [ ]:
# step 1
kor_player = kor_team[kor_team['player_no'] != 0]

    player_no         player_name  ... highest_reach_block date_of_birth
0         1.0         LEE Soyoung  ...               255.0    1994-10-17
1         3.0       YEUM Hye Seon  ...               247.0    1991-02-03
2         4.0          KIM Heejin  ...               290.0    1991-04-29
3         7.0           AN Hyejin  ...               231.0    1998-02-16
4         8.0         PARK Eunjin  ...               281.0    1999-12-15
5         9.0          OH Jiyoung  ...               252.0    1988-07-11
6        10.0  KIM Yeon Koung (c)  ...               300.0    1988-02-26
7        11.0           KIM Su Ji  ...               268.0    1987-07-11
8        13.0        PARK Jeongah  ...               276.0    1993-03-26
9        14.0        YANG Hyo Jin  ...               283.0    1989-12-14
10       16.0         JEONG Jiyun  ...               280.0    2001-01-01
11       19.0         PYO Seungju  ...               260.0    1992-08-07

[12 rows x 9 columns]